@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Plus+Jakarta+Sans:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-surface text-on-surface font-body-md;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.pt-safe {
  padding-top: env(safe-area-inset-top, 0px);
}
